.table-container {
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}

.button--add-col-container {
    float: left;
    margin-top: 55px;
}

.button--add-row-container {
    clear: left;
    margin-left: 55px;
    display: block;
}
